@model Album
@{

    ViewBag.Title = "Aggiungi album";

}
<h1 class="display-4">Aggiungi album</h1>

@if (ViewBag.Message != null)
{

    <div roll="alert" class="alert alert-success">

        @ViewBag.Message

    </div>
}
@using (Html.BeginForm()){

    <div class="form-horizontal">

        <div>Aggiungi un album:</div>
        <hr>
        @Html.HiddenFor(model => model.ID)
        <div class ="form-group">
            @Html.LabelFor(model => model.Titolo, htmlAttributes: new{@class ="label col-md-2"})
            <div class="col-md-10">

                @Html.EditorFor(model => model.Titolo)
            </div>
        </div>
        <div class ="form-group">
            @Html.LabelFor(model => model.Anno_Uscita, htmlAttributes: new{@class ="label col-md-2"})
            <div class="col-md-10">

                @Html.EditorFor(model => model.Anno_Uscita)
            </div>
        </div>
        <div class ="form-group">
            @Html.LabelFor(model => model.Nome_Band, htmlAttributes: new{@class ="label col-md-2"})
            <div class="col-md-10">

                @Html.EditorFor(model => model.Nome_Band)
            </div>
        </div>
        <div class ="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aggiungi" class="btn btn-btndefault"/>
            </div>
        </div>

    </div>

}

<div>

    @Html.ActionLink("BackToHome","Index")

</div>